<config>
    <block_list>
        <path>blocks</path>
        <tilemap>tileset</tilemap>
    </block_list>
    <engine>
        <tilemap>tileset.png</tilemap>
        <fly>true</fly>
    </engine>
    <graphic>
        <title>selur</title>
        <width>1515</width>
        <height>723</height>
        <window_x>805240832</window_x>
        <window_y>805240832</window_y>
    </graphic>
    <network>
        <port>27558</port>
        <max_player>32</max_player>
    </network>
    <objects>
        <folder>objects/</folder>
    </objects>
    <world>
        <script_folder>world_generator/</script_folder>
    </world>
</config>
