<config>
    <engine>
        <tilemap>tileset.png</tilemap>
        <fly>false</fly>
        <debug_physic>false</debug_physic>
    </engine>
    <graphic>
        <title>selur</title>
        <width>1038</width>
        <height>736</height>
        <window_x>805240832</window_x>
        <window_y>805240832</window_y>
    </graphic>
    <network>
        <port>27558</port>
        <max_player>32</max_player>
    </network>
    <objects>
        <folder>objects/</folder>
    </objects>
</config>
